*.for
*.loe
*.bak
*.aux
*.bbl
*.blg
*.log
*.bcf
*.glo
*.ist
*.lof
*.lol
*.lot
*.toc
*.tps
*.run.xml
*.tcp
*.slg
*.syg
*.syi
*.synctex.gz
*.fls
*.fdb_latexmk
*.html
*.css
*.woff
*.js
/_content_files/
*.pdf